<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126463484500-6qef4s5r50u400ifhbsosdktdrrrpq8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126463484500-6qef4s5r50u400ifhbsosdktdrrrpq8j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126463484500-mdr4saln2u93lvemhs1tujn19l27e4ll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-cvaSPHl7Xl5ZA0O-ThkOf7kDdg0VTKk</string>
	<key>GCM_SENDER_ID</key>
	<string>126463484500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pulsehospital.com</string>
	<key>PROJECT_ID</key>
	<string>pulse-303107</string>
	<key>STORAGE_BUCKET</key>
	<string>pulse-303107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126463484500:ios:75a75ec3cb4a01b31e43c1</string>
</dict>
</plist>